@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Herundo is a social network, designed for the special needs of the MongoDB Course at FMI
    </p>

</article>

<aside>
    <h3>Other social networks</h3>
    <ul>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://facebook.com/">Facebook</a></li>
        <li><a href="https://linkedin.com/">Linkedin</a></li>
    </ul>
</aside>