@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>WELCOME TO HERUNDO</h1>
            </hgroup>
        </div>
    </section>
}
    <h3>Getting Started</h3>
<ol class="round">
    
    <li class="one">
        With Herundo, you can follow all your friends<br /> and see what they post at anytime.
    </li>

    <li class="two">
        You can unfollow anyone at any time.<br />Be nice - you can get unfollowed too
    </li>

    <li class="three">
        You can post messages, which all your followers will see. <br />Simple as that!
    </li>
</ol>
